@import url('https://fonts.googleapis.com/css2?family=Lato&family=Patrick+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #E8C9AB;
}

/******** The Header ********/
header {
    top: 0;
    font-size: 1.4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/backgroundyarn.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: left;
    height: 100vh;
}
/******** The Logo ********/
header img {
    margin: 5px 5px;
    border-radius: 10px;
    max-width: 100%;
    height: 30px;
}
/******** The Nav (fixed position) ********/
nav {
    /* width: 100%; */
    position: fixed;
    display: flex;
    border: 1px solid #fff;
    flex-direction: column;
    top: 1%;
    right: 1%;
    transform: translate(1%0, -1%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.168);
}
nav ul {
    list-style-type: none;
    text-align: center;
    line-height: 1.8rem;
    font-family: 'Patrick Hand', cursive;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    text-decoration: underline;
}

/******** The Header Text Container ********/
/* header:last-child {
    position: relative;
} */
.welcome {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    width: 85%;
}
.welcome p {
    padding: 0.5rem;
    line-height: 150%;
}
input {
    margin-bottom: 10px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    font-weight: 600;
}

#submit {
    background-color: #A9845A;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
    color: #fff;
    height: 40px;
    font-weight: 200;
}
#submit:hover {
    cursor: pointer;
    background-color: #886b4a;
}
/******** The Main Body Container ********/
#container {
    /* position: absolute; */
    position: relative;
    /* top: 200px; */
    box-shadow: 1px 4px 5px 1px #331900;
    margin-bottom: 1rem;
}
.products {
    margin-bottom: 50px;
}
.products p {
    text-align: center;
}
#hooks {
    height: 60vh;
    background: url(images/hooks.jpg) no-repeat;
    background-size: cover;
    
    /* width: 100vw; */
    /* margin-bottom: 20px; */
}
#needles {
    height: 60vh;
    background: url(images/needles.jpg);
    background-size: cover;
}
#yarn {
    height: 60vh;
    background: url(images/yarn.jpg);
    background-size: cover;
}
h1,
h2 {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    padding: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

img {
    margin: 0 auto;
    opacity: 0.9;
    max-width: 100%;
}

.main img {
    /* max-height: 300px; */
}

#hooks,
#needles,
#yarn {
    text-align: center;
    margin-top: 50px;
}

.bottom {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/backgroundyarn.jpg) no-repeat;
    background-size: cover; 
    color: rgba(255, 255, 255, 0.837);
    height: 100vh;
    letter-spacing: 1px;
    
}

#howto {
    display: flex;
    margin-top: 20px;
    /* height: 50vh; */
    
}

#video {
    flex: 1;
    max-width: 95%;
}

#video2 {
    flex: 1;
    margin-right: 0;
    max-width: 95%;
}

#about {
    padding: 0.5rem;
    width: 85vw;
    text-align: center;
    margin: 50px auto;
    line-height: 150%;
    
}

footer {
    font-family: 'Patrick Hand', cursive;
    padding: 0.5rem;
    text-align: center;
    margin-top: 150px;
    color: #000;
}

footer a {
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.837); */
    color: #000;
}

footer a:hover {
    text-decoration: underline;
}




@media screen and (min-width: 900px) {

    body {
        max-width: 900px;
        margin: 0 auto;
    }
    nav {
        top: 1%;
        right: 20%;
        transform: translate(-1%, -20%);
        width: 40%;
        border: none;
        background: none;
    }
    #container {
        max-width: 900px;
        top: 0px;
    }

    .welcome {
        margin-top: 90px
    }
    
    header {
        max-width: 900px;
        border: 1px solid red;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        max-width: 400px;
    }

    #hooks,
    #needles,
    #yarn {
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    footer {
        font-size: 1.2rem;
        text-align: center;
    }

    #about {
        max-width: 70%;
        margin: auto;

    }
}
