@import url('https://fonts.googleapis.com/css2?family=Lato&family=Patrick+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #E8C9AB;
}

/******** The Header ********/
header {
    top: 0;
    font-size: 1.4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/backgroundyarn.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
/*    text-align: left;*/
    height: 100vh;
}

/******** The Logo ********/
header img {
    margin: 10px 10px;
    border: 0.5px dashed #fff;
    border-radius: 20px;
    opacity: 70%;
    height: 110px;
}

/******** The Nav (fixed position) ********/
nav {
/*     width: 100%; */
    position: fixed;
    display: flex;
    border: 1px solid #fff;
    flex-direction: column;
    top: 1%;
    right: 1%;
    transform: translate(1%0, -1%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.168);
}

nav ul {
    list-style-type: none;
    text-align: center;
    line-height: 1.8rem;
    font-family: 'Patrick Hand', cursive;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

/******** The Header Text Container ********/
.welcome {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    width: 85%;
}

.welcome p {
    padding: 0.5rem;
    line-height: 150%;
}

input {
    margin-bottom: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 500;
}

#submit {
    background-color: #E8C9AB;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 5px;
    height: 40px;
    font-weight: 200;
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.63);
}

/******** The Main Body Container ********/
#container {
/*    position: relative;*/
    box-shadow: 1px 4px 5px 1px #331900;
    margin-bottom: 1rem;
}

/******** The Products ********/
.products {
    margin-bottom: 50px;
}

.products p {
    text-align: center;
    max-width: 90%;
    margin: 1rem auto;
}

#hooks {
    height: 60vh;
    background: url(images/hooks.jpg) no-repeat;
    background-size: cover;
    transition: transform 0.5s ease;
}

#needles {
    height: 60vh;
    background: url(images/needles.jpg);
    background-size: cover;
    transition: transform 0.5s ease;
}

#yarn {
    height: 60vh;
    background: url(images/yarn.jpg);
    background-size: cover;
    transition: transform 0.5s;
}

#hooks,
#needles,
#yarn { margin-top: 1.5rem; }

#hooks:hover,
#needles:hover,
#yarn:hover { transform: scale(1.05); }

h1,
h2 {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    padding: 0.5rem;
}

h1 { font-size: 2.5rem; }

h2 { font-size: 2rem; }

/******** How-To, About, and Footer Sections ********/
.bottom {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/backgroundyarn.jpg) no-repeat;
    background-size: cover; 
    color: rgba(255, 255, 255, 0.837);
    height: 100vh;
    letter-spacing: 1px;
}

#howto {
    display: flex;
    margin-top: 20px;
}

#video {
    flex: 1;
    max-width: 95%;
}

#video2 {
    flex: 1;
    max-width: 95%;
}

#about {
    padding: 0.5rem;
    width: 85vw;
    text-align: center;
    margin: 50px auto 20px auto;
    line-height: 150%;     
}

#social {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1rem;
}

i { transition: transform 0.7s; }

i:hover, i:active {
    cursor: pointer;
    transform: scale(1.15);
    color: rgba(255, 255, 255, 0.31);
}

/******** The Footer ********/
footer {
    font-family: 'Patrick Hand', cursive;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.837);
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/backgroundyarn.jpg) no-repeat;
}

footer a {
    text-decoration: none;
     color: rgba(255, 255, 255, 0.837); 
}

footer a:hover {     
    transform: scale(1.15);
    color: rgba(255, 255, 255, 0.31); }


/******** Small Mobile Styling ********/
@media screen and (max-width: 450px) {
    .welcome { margin-top: 4.1em; }
}
/******** Desktop Styling ********/
@media screen and (min-width: 900px) {
    nav { left: 20% }
}
@media screen and (min-width: 1200px) {
    nav { left: 30% }
}
@media screen and (min-width: 900px) {

    body {
        max-width: 900px;
        margin: 0 auto;
    }
    
    nav {
        width: 80%;
        max-width: 650px;
/*        left: 31%;*/
        border: none;
    }
    
    nav ul {
        display: inline-flex;
        justify-content: space-evenly;
    }

    #container { max-width: 900px; }

    .video { text-align: center; }
    
    #about {
        max-width: 70%;
        margin: 1rem auto;
    }
    
    #social { margin-top: 1rem; }
    
    footer {
        font-size: 1.2rem;
        background: none;
    }
}
